/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Arizonia');

html {
    background-image: url("../css/Paper.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}


::selection {
    color: #000; 
    background: #ff0;
}

h1 {
    font-family: 'Arizonia';
    font-size: 75px;
    font-weight: 1000;
    margin: auto;
    line-height: 2.5em;
    text-align: center;
    padding: 0%;
 }



/*main.wrapper {
    background-color: white;
    overflow: auto;
} */

p {
    font-size: large;
    margin: 1em; /* Top Right Bottom Left (TRBL) */
    text-align: center;
    font-weight: 600;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 38em;
}

.page-description {
    margin-left: auto;
    margin-right: auto;
    width: 45em;

}

.break {
    font-size: medium;
}

h2,h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

h4 {
    font-size: x-large;
    text-decoration:underline;
    text-decoration-style:dotted;
     text-align: center;
}
a {
    color:darkcyan;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: darkcyan;
    text-decoration: none;
}




footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 10em;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}